// bower:scss
// endbower

$offwhite: #EEEEEE;
$offblack: #333333;


// buncha mixins
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// adding a border to the viewport
#topleft, #topright, #bottomleft, #bottomright {
 height: 24px;
 width: 24px;
 position: fixed;
 display: block;
 z-index: 20;
}

#top, #bottom {
 height: 5px;
 position: fixed;
 left: 0px;
 right: 0px;
 display: block;
 background-color: $offwhite;
 z-index: 30
}
#left, #right {
 width: 5px;
 position: fixed;
 top: 0px;
 bottom: 0px;
 display: block;
 background-color: $offwhite;
 z-index: 50;
 border-top: 5px solid $offblack;
 border-bottom: 5px solid $offblack;
}

#top {
 top: 0px;
 border-top: 5px solid $offblack;
}
#bottom {
 bottom: 0px;
 border-bottom: 5px solid $offblack;
}
#left {
 left: 0px;
 border-left: 5px solid $offblack;
}
#right {
 right: 0px;
 border-right: 5px solid $offblack;
}
#topleft {
 top: 0px;
 left: 0px;
}
#topright {
 top: 0px;
 right: 0px;
}
 #bottomleft {
 bottom: 0px;
 left: 0px;
}
 #bottomright {
 bottom: 0px;
 right: 0px;
}
// end adding a border to the viewport


body {
  background: $offblack;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: $offwhite;
  font-weight: 400;
}

// custom code 

.page {
  height: 100vh;
  border: 1px solid red;
}


// shapes

.shapes {
  width: 100px;
  .shape {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    width: 100px;
    display: none;
    &.shape1 {
      width: 37.7px;
      height: 37.4px;
      border: 1px solid red;
      display: block;
    }
    &.shape2 {
      width: 92.674px;
      height: 93.308px;
    }
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: block;
  &.hero {
    height: 280px;
    h2 {
      text-align: center;
      font-family: 'merriweather', serif;
      font-weight: 400;
      font-style: italic;
      font-size: 34px;
      margin: 20px auto;      
    }
  }
}

.hero-unit {
  margin: 50px auto 0 auto;
  //width: 100%;
  max-width: 400px;
  //display: inline-block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border: 1px solid $offwhite;
  padding: 40px 60px;
  position: relative;
  margin: 0 auto;
  background: rgba(0,0,0,0.2);
  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 2px solid $offwhite;
  }
  h1 {
    font-size: 50px;
    line-height: 1;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 400;
    span {
      font-weight: 200;
      letter-spacing: -5px;
    }   
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



// hacks
.faded-text {
  @include opacity(0.8);
}

.container-with-floated-children {
  @extend %clearfix;
}

.visually-hidden {
  @extend %visuallyhidden;
}


