// bower:scss
// endbower

$offwhite: #ded;
$offblack: #222;


// buncha mixins
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// adding a border to the viewport
#topleft, #topright, #bottomleft, #bottomright {
 height: 24px;
 width: 24px;
 position: fixed;
 display: block;
 z-index: 20;
}

#top, #bottom {
 height: 5px;
 position: fixed;
 left: 0px;
 right: 0px;
 display: block;
 background-color: $offwhite;
 z-index: 30
}
#left, #right {
 width: 5px;
 position: fixed;
 top: 0px;
 bottom: 0px;
 display: block;
 background-color: $offwhite;
 z-index: 50;
 border-top: 5px solid $offblack;
 border-bottom: 5px solid $offblack;
}

#top {
 top: 0px;
 border-top: 5px solid $offblack;
}
#bottom {
 bottom: 0px;
 border-bottom: 5px solid $offblack;
}
#left {
 left: 0px;
 border-left: 5px solid $offblack;
}
#right {
 right: 0px;
 border-right: 5px solid $offblack;
}
#topleft {
 top: 0px;
 left: 0px;
}
#topright {
 top: 0px;
 right: 0px;
}
 #bottomleft {
 bottom: 0px;
 left: 0px;
}
 #bottomright {
 bottom: 0px;
 right: 0px;
}
// end adding a border to the viewport


body {
  background: $offblack;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: $offwhite;
  font-weight: 400;
}

// custom code 

// navigation

.nav {
  position: fixed;
  right: 10px;
  top: 0px;
  padding: 20px;
  z-index: 999;
  a {
    text-decoration: none;
    color: $offwhite;
  }
  li {
    margin-top: 10px;
    text-align: left;
    font-family: 'merriweather', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 26px;
    line-height: normal;
    cursor: pointer;
    span {
      border-bottom: 0px solid white;
      transition: padding-left 0.2s ease;
    }
    &:hover {
      span {
        border-bottom: 1px solid white;
        padding-left: 2px;
      }
    }
    sup {
      font-size: 20px;
      line-height: 28px;
      font-weight: 900;
      top: -0.15em;
      position: relative;
    }          
  }
}

.page {
  height: 100vh;
  //border: 1px solid red;
  overflow: hidden;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

// particle.js
#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  z-index: 0;
  .particles-js-canvas-el {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-animation: appear 1.4s 1;
    animation: appear 1.4s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

// shapes

/* The animation code */
@keyframes filterAnimate {
  0% {
    filter: sepia(0.6) saturate(3) blur(1px) drop-shadow( -5px -5px 5px rgba(0,0,0,0.25) ); /* Same syntax as box-shadow */
  }
  25% {
    filter: sepia(0.1) saturate(1) blur(0.5px) drop-shadow( 5px 5px 5px rgba(0,0,0,0.25) ); /* Same syntax as box-shadow */
  }  
  50% {
    filter: sepia(0.4) saturate(5) blur(0px) drop-shadow( 0px 0px 5px rgba(0,0,0,0.25) ); /* Same syntax as box-shadow */
  }
  75% {
    filter: sepia(0.1) saturate(1) blur(0.5px) drop-shadow( 5px 5px 5px rgba(0,0,0,0.25) ); /* Same syntax as box-shadow */
  }  
  100% {
    filter: sepia(0.6) saturate(3) blur(1px) drop-shadow( -5px -5px 5px rgba(0,0,0,0.25) ); /* Same syntax as box-shadow */
  }
}

.shapes {
  width: 100%;
  max-width: 900px;
  height: 900px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  opacity: 0;
  transform: scale(1.1);
  .shape {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    //width: 100px;
    //display: none;
    //filter: sepia(0.8) saturate(6) blur(0px) drop-shadow( -5px -5px 5px rgba(0,0,0,0.25) ); /* Same syntax as box-shadow */
    filter: sepia(0.6) saturate(3) blur(1px) drop-shadow( -5px -5px 5px rgba(0,0,0,0.25) ); /* Same syntax as box-shadow */
    animation: filterAnimate 10s infinite;
    &.shape1 {
      width: 37.7px;
      height: 37.4px;
      transform: translate(209px, 430px);
    }
    &.shape2 {
      width: 92.674px;
      height: 93.308px;
      transform: translate(722px, 374px);
    }
    &.shape3 {
      width: 92.523px;
      height: 92.141px;
      transform: translate(724px, 466px);
    }
    &.shape4 {
      width: 92px;
      height: 112px;
      transform: translate(631px, 466px);
    }
    &.shape5 {
      width: 92px;
      height: 185.634px;
      transform: translate(631px, 282px);
    }
    &.shape6 {
      width: 71.971px;
      height: 49.118px;
      transform: translate(631px, 578px);
    }
    &.shape7 {
      width: 23.459px;
      height: 46.919px;
      transform: translate(631px, 605px);
    }
    &.shape8 {
      width: 181px;
      height: 143px;
      transform: translate(450px, 578px);
    }
    &.shape9 {
      width: 155.398px;
      height: 112px;
      transform: translate(450px, 466px);
    }
    &.shape10 {
      width: 137.221px;
      height: 112px;
      transform: translate(495px, 466px);
    }
    &.shape11 {
      width: 181px;
      height: 204.074px;
      transform: translate(450px, 262px);
    }
    &.shape12 {
      width: 161.48px;
      height: 235.217px;
      transform: translate(450px, 187px);
    }
    &.shape13 {
      width: 87.078px;
      height: 107.141px;
      transform: translate(450px, 167px);
    }
    &.shape14 {
      width: 66.402px;
      height: 65.638px;
      transform: translate(450px, 101px);
    }
    &.shape15 {
      width: 65.976px;
      height: 65.776px;
      transform: translate(450px, 657px);
    }
    &.shape16 {
      width: 43.829px;
      height: 22.025px;
      transform: translate(517px, 721px);
    }
    &.shape17 {
      width: 87.749px;
      height: 109.141px;
      transform: translate(450px, 721px);
    }
    &.shape18 {
      width: 64.221px;
      height: 65.566px;
      transform: translate(372px, 67px);
    }
    &.shape19 {
      width: 160.221px;
      height: 181.141px;
      transform: translate(275px, 133px);
    }
    &.shape20 {
      width: 74.08px;
      height: 148.569px;
      transform: translate(364px, 238px);
    }
    &.shape21 {
      width: 155px;
      height: 202.658px;
      transform: translate(207px, 228px);
    }
    &.shape22 {
      width: 48.221px;
      height: 94.197px;
      transform: translate(160px, 297px);
    }
    &.shape23 {
      width: 190.573px;
      height: 117.898px;
      transform: translate(247px, 313px);
    }
    &.shape24 {
      width: 43.221px;
      height: 43.116px;
      transform: translate(394px, 388px);
    }
    &.shape25 {
      width: 116.221px;
      height: 111px;
      transform: translate(321px, 431px);
    }
    &.shape26 {
      width: 134.245px;
      height: 87.366px;
      transform: translate(74px, 344px);
    }
    &.shape27 {
      width: 38.352px;
      height: 39.92px;
      transform: translate(208px, 392px);
    }
    &.shape28 {
      width: 134.221px;
      height: 86.059px;
      transform: translate(74px, 431px);
    }
    &.shape29 {
      width: 48.05px;
      height: 72.998px;
      transform: translate(160px, 469px);
    }
    &.shape30 {
      width: 22.221px;
      height: 22.141px;
      transform: translate(186px, 542px);
    }
    &.shape31 {
      width: 73.915px;
      height: 48.218px;
      transform: translate(208px, 542px);
    }
    &.shape32 {
      width: 203.221px;
      height: 144px;
      transform: translate(233px, 542px);
    }
    &.shape33 {
      width: 107.221px;
      height: 108.142px;
      transform: translate(329px, 686px);
    }
    &.shape34 {
      width: 78.221px;
      height: 79.141px;
      transform: translate(359px, 542px);
    }
    &.shape35 {
      width: 146.917px;
      height: 73.145px;
      transform: translate(247px, 431px);
    }
    &.shape36 {
      width: 112.309px;
      height: 111px;
      transform: translate(207px, 431px);
    }
    &.shape37 {
      width: 77.062px;
      height: 38.114px;
      transform: translate(281px, 504px);
    }
    &.shape38 {
      width: 81.062px;
      height: 25.114px;
      transform: translate(578px, 578px);
    }
  }
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  border: 1px solid red;
  background-color: white;
  z-index: 999;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: block;
  &.hero {
    width: 100%;
    height: 300px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow: hidden;
    h2 {
      text-align: center;
      font-family: 'merriweather', serif;
      font-weight: 300;
      font-style: italic;
      font-size: 34px;
      margin: 20px auto;      
    }
  }
}

.hero-unit {
  margin: 50px auto 0 auto;
  //width: 100%;
  max-width: 400px;
  //display: inline-block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border: 1px solid $offwhite;
  padding: 40px 60px;
  position: relative;
  margin: 0 auto;
  background: rgba(0,0,0,0.2);
  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 2px solid $offwhite;
  }
  h1 {
    font-size: 50px;
    line-height: 1;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 400;
    span {
      font-weight: 200;
      letter-spacing: -5px;
    }   
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// video bg
video#bgvid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; 
  opacity: 0.05;
  opacity: 0;
}

// portfolio
.work {
  .sub {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    h2 {
      font-family: 'Lato', Helvetica, Arial, sans-serif;
      color: $offwhite;
      font-weight: 300;
      font-size: 30px;
      text-transform: uppercase;
    }
    p {
      margin-top: 10px;
      font-family: 'merriweather', serif;
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.4em;
      cursor: pointer;
    }
  }
  .mcd {
    color: #bf0c0c;
  }
  .vw {
    color: #003057;
  }
  .tel {
    color: #34b4a2;
  }
  .ps {
    color: #ffffff;
  }
  .ill {
    color: #ffffff;
  }
  .sk {
    color: #ffffff;
  }
  .html {
    color: #ffffff;
  }
  .css {
    color: #ffffff;
  }
  .js {
    color: #ffffff;
  }
  .ang {
    color: #ffffff;
  }
  .react {
    color: #ffffff;
  }
  .gulp {
    color: #ffffff;
  }
}

// hacks
.faded-text {
  @include opacity(0.8);
}

.container-with-floated-children {
  @extend %clearfix;
}

.visually-hidden {
  @extend %visuallyhidden;
}


